.DS_Store
._.DS_Store
*.bak
tmp.*
build/
kitchen/
build-*.d/
publisher-info.sh
*.sublime-workspace
var/
build-*/
mulle-template-composer-*
mulle-markdown-preview-*.html
cola/wilted/
.mulle/etc/make/build-dir
vgcore.*
