.DS_Store
._.DS_Store
*.bak
tmp.*
build/
kitchen/
build-*.d/
publisher-info.sh
*.sublime-workspace
var/
build-*/
mulle-template-composer-*
mulle-markdown-preview-*.html
cola/wilted/
.mulle/etc/make/build-dir
vgcore.*
test*/**/*.test.*
/*.md
!/AGENTS.md
!/README.md
build-3d23/
build-9863/
build-c9dc/
environment-user-*.sh
