{
   project =
   {
      description="🎒 MulleWeb developer kit for mulle-sde";
      domain="github";
      name="mulle-web-developer";
      user="MulleWeb";
      repo="mulle-web-developer";
      version="0.2.6";
      homepage="https://github.com/MulleWeb/mulle-web-developer";
      license="BSD-3-Clause"
   };
}
